# --- Executables and Object Files ---
# Ignorisi izvršne fajlove
*.exe
a.out
main
program

# Ignorisi objektne fajlove
*.o
*.obj

# Build direktoriji (ako se koriste)
build/
bin/

PRSProjekat1/

# --- Temporary/Debug Files ---
# Ignorisi fajlove za debugiranje
*.pdb
*.ilk

# --- IDE/Editor Files (common) ---
# Visual Studio Code
.vscode/

# Visual Studio
.vs/