# Korisničke postavke Visual Studija
*.suo
*.user
*.userosscache
*.sln.docstates

# Folder sa kešom i postavkama Visual Studija
# Ovo je glavni uzrok vaših velikih fajlova!
.vs/

# Build output
[Bb]in/
[Bb]j/
[Rr]elease/
[Rr]elease*/
[Dd]ebug/
[Dd]ebug*/
x64/
[Aa]rm64/
bld/
.vspscc

# Fajlovi generisani tokom build-a
*.lib
*.dll
*.exe
*.pdb
*.ipch
*.obj
*.ilk
*.aps
*.tlog
*.log
*.sbr
*.res

# NuGet paketi
*.nupkg
packages/
*.[Pp]ackages.*
*.[Cc]onfig

# Ostalo
*.vcxproj.filters
*.vcxproj.user